/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* UNIVERSAL SELECTOR*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;         /*Property for quit Extra padding or margin in the boxes*/
}

body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header{
    height: 95vh;                   /* VH is percent of viewport scale*/
    background-image: 
        linear-gradient(to right bottom, #7ed56fbd, #55c57ab2), /* Linear gradient specify direction and colors*/
        url(../img/hero.jpg);  
    
    background-size: cover;         /* Try to fit image into element*/
    background-position: top;       /* Initial position of background*/

    clip-path: polygon(             /* Especify visible area polygon for background*/
        0 0,        
        100% 0, 
        100% 70%, 
        50% 90%, 
        0 70%
    );     
    
    position: relative;             /* Default position*/
} 


/*------- HEADER LOGO BOX -------*/
.logo-box{
    position: absolute;             /* It takes position of the father element*/
    top: 50px;
    left: 50px;
}

.logo{
    height: 30px;
}


/*------- HEADER TEXT -----------*/
.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);    /*Translate box to center point in X and Y coordinates*/
    text-align: center;
}

.heading-primary{
    color: #ffffff;
    text-transform: uppercase; 

    backface-visibility:hidden;         /* Fix to shaking animations*/
}

.heading-primary-main{
    display: block;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 30px;

    animation-name: moveFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;  /* Specifies progress duration of the animation*/
}

.heading-primary-sub{
    display: block;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 15px;

    animation: moveFromRight 1s ease-out;  /* Animation inline declaration */
}

/* Key Frame animations*/
@keyframes moveFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);   /* Animation initial point*/
    }

    80%{
        transform: translateX(20px);    
    }

    100%{
        opacity: 1;
        transform: translateX(0);        /* Move to original position text*/
    }
}


@keyframes moveFromRight{
    0%{
        opacity: 0;
        transform: translateX(100px);   /* Animation initial point*/
    }

    80%{
        transform: translateX(-20px);    
    }

    100%{
        opacity: 1;
        transform: translateX(0);        /* Move to original position text*/
    }
}


@keyframes moveFromBottom{
    0%{
        opacity: 0;
        transform: translateY(50px);   /* Animation initial point*/
    }

    100%{
        opacity: 1;
        transform: translateY(0);        /* Move to original position text*/
    }
}

/*------- BTN STYLES -----------*/
/* Pseudo classes */
.btn:link,
.btn:visited{       
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    padding: 15px 40px;
    margin-top: 30px;

    display: inline-block;
    border-radius: 100px;
    transition: all .2s;        /* When it no needs specify certainly properties*/

    position: relative;
}

.btn:hover{        
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active{        /* Click pseudo class*/
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white{
    background-color: #fff;
    color: #777
}

/* Pseudo element*/
.btn::after{    /* runs after select element*/
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;    /* Send it to back of the button */
    transition: all .5s;
}

.btn-white::after{
    background-color: #fff;
}

.btn:hover::after{  /* It hapens when hover element and pseudo element after*/
    transform: scaleX(1.5) scaleY(1.6); /*scale or scaleX and scaleY*/
    opacity: 0;
}


.btn-animation{
    animation: moveFromBottom .5s ease-out .7s; /* animation, duration, progress animation, delay*/
    animation-fill-mode: backwards;             /* Fix animation before it runs*/
}