.header {
    height: 95vh; //VH is percent of viewport scale
    background-image:
        linear-gradient(to bottom right, $color-primary-light, $color-primary-dark),
        url(../img/hero.jpg); //Linear gradient specify direction and colors

    background-size    : cover; //Try to fit image into element
    background-position: top; //Initial position of background

    clip-path: polygon( 
            0 0,
            100% 0,
            100% 65vh,
            50% 90%,
            0 65vh);//Especify visible area polygon for background

    position: relative; //Default position

    //------- HEADER LOGO BOX -------
    &__logo-box {
        position: absolute; //It takes position of the father element
        top     : 5rem;
        left    : 5rem;
    }

    &__logo {
        height: 3rem;
    }

    //------- HEADER TEXT -----------
    &__text-box {
        position  : absolute;
        top       : 40%;
        left      : 50%;
        transform : translate(-50%, -50%); //Translate box to center point in X and Y coordinates
        text-align: center;
    }

}