/*------- BTN STYLES -----------*/

.btn {
    text-transform: uppercase;

    /* Pseudo classes */
    &:link,
    &:visited {
        text-transform : uppercase;
        font-size      : 1.4rem;
        text-decoration: none;
        padding        : 1.5rem 4rem;
        margin-top     : 3rem;

        display      : inline-block;
        border-radius: 10rem;
        transition   : all .2s;
        /* When it no needs specify certainly properties*/

        position: relative;
    }

    &:hover {
        transform : translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }

    &:active {
        /* Click pseudo class*/
        transform : translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }



    /* Pseudo element*/
    &::after {
        /* runs after select element*/
        content      : "";
        display      : inline-block;
        height       : 100%;
        width        : 100%;
        border-radius: 10rem;

        position  : absolute;
        top       : 0;
        left      : 0;
        z-index   : -1;
        /* Send it to back of the button */
        transition: all .5s;
    }

    &--white {
        background-color: $color-white;
        color           : $color-gray-ligth;

        &::after {
            background-color: $color-white;
        }
    }


    &:hover::after {
        /* It hapens when hover element and pseudo element after*/
        transform: scaleX(1.5) scaleY(1.6);
        /*scale or scaleX and scaleY*/
        opacity  : 0;
    }


    &--animation {
        animation          : moveFromBottom .5s ease-out .7s;
        /* animation, duration, progress animation, delay*/
        animation-fill-mode: backwards;
        /* Fix animation before it runs*/
    }
}